<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onLogin(loginForm)" [formGroup]="loginForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" name="email" formControlName="email" [(ngModel)]="login.email">
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
              class="alert alert-danger" lines="none">
              <ion-label>
                <ion-icon name="alert" color="danger" slot="start" postion="floating"></ion-icon>
                Invalid email address
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" clearInput name="password" formControlName="password" [(ngModel)]="login.password"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
              lines="none">
              <ion-label>
                <ion-icon name="alert" color="danger" slot="start" postion="floating"></ion-icon>
                Invalid password
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>