<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" #menu>
      <ion-header>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title style="font-weight: bold">My Bank</ion-card-title>
          </ion-card-header>
          <ion-img src="../assets/images/bank.png"></ion-img>
        </ion-card>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" button>
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>