<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Accounts</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!accounts$ || accounts$.length < 0">No accounts added</p>
  <ion-list *ngFor="let account of accounts$ | async">
    <ion-card (click)="showAlertSelectAction(); onAccountSelected(account)">
      <ion-card-header>
        <ion-card-title>Account: {{account.accountNum }}</ion-card-title>
      </ion-card-header>
      <hr>
      <ion-card-content>
        <ion-item>
          <h2>Balance: R{{account.balance }}</h2>
        </ion-item>
        <ion-item>
          <h2>Overdraft: R{{account.overdraft}}</h2>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAlertCreateAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>