<ion-header>
  <ion-toolbar>
    <ion-title>{{action | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account: {{account.accountNum}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-item>
          <ion-label position="floating">Amount:</ion-label>
          <ion-input type="number" autofocus [(ngModel)]="amount" #amt="ngModel" required> </ion-input>
        </ion-item>
        <div *ngIf="message">
          <p color="danger">
            <ion-icon name="alert" color="danger" slot="start" postion="floating"></ion-icon> {{message}}
          </p>
        </div>

      </div>
      <div class="ion-text-end">
        <ion-button fill="clear" size="medium" (click)="dismiss()">
          Cancel
        </ion-button>
        <ion-button fill="clear" size="medium" strong="true" (click)="updateAccount()" [disabled]="!amount">
          Confirm
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>